{{ define "identifier" }}mod{{ end }}

{{ define "extra-head" }}
  <meta name="og:title" content="{{ .Params.name }}">
  <meta name="og:description" content="{{ .Params.description }}">
  <meta name="og:image" content="{{ absURL (printf "mods/%s-header.png" .Params.namespace) }}">
  <title>{{ .Site.Title }} | {{ .Params.name }}</title>
{{ end }}

{{ define "main" }}
  <constrainer>
    <header>
      <img src="{{ absURL (printf "mods/%s.png" .Params.namespace) }}"></img>
      <div class="text">
        <p class="title">{{ .Params.name }}</p>
        <p class="description">{{ .Params.description }}</p>
      </div>
    </header>
    <content>
      {{ .Content }}
    </content>
    <sidebar>
    </sidebar>
  </constrainer>
{{ end }}
