{{ define "identifier" }}mod{{ end }}

{{ define "extra-head" }}
  <title>{{ .Site.Title }} | {{ .Params.name }}</title>
  <meta name="title" content="{{ .Site.Title }} | {{ .Params.name }}">
  <meta name="description" content="{{ .Params.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Params.name }}">
  <meta property="og:description" content="{{ .Params.description }}">
  <meta property="og:image" content="{{ absURL (printf "mods/%s-header.png" .Params.namespace) }}">
{{ end }}

{{ define "main" }}
  <constrainer>
    <header>
      <div class="top">
        <img src="{{ absURL (printf "mods/%s.png" .Params.namespace) }}"></img>
        <div class="text">
          <p class="title">{{ .Params.name }}</p>
          <p class="description">{{ .Params.description }}</p>
        </div>
      </div>
      <div class="links">
        {{ if isset .Params "github" }}
          <a href="{{ .Params.github }}">Github</a>
        {{ end }}
        {{ if isset .Params "curse_forge" }}
          <a href="{{ .Params.curse_forge }}">Curse Forge</a>
        {{ end }}
      </div>
    </header>
    <content>
      {{ .Content }}
    </content>
    <sidebar>
    </sidebar>
  </constrainer>
{{ end }}
