<footer>
  <constrainer>
    <div class="top">
      <div class="icon">
        <a href="{{ .Site.BaseURL }}"><img src="{{ "cumulus_light_grey.svg" | absURL }}"></img></a>
      </div>
      <div class="columns">

        <div class="column mods">
          <p class="title">Mods</p>
          <a href="{{ "mods/art-of-alchemy" | absURL }}">Art of Alchemy</a>
          <a href="{{ "mods/better-shulkers" | absURL }}">Better Shulkers</a>
          <a href="{{ "mods/endfestation" | absURL }}">Endfestation</a>
          <a href="{{ "mods/farmcraft" | absURL }}">Farmcraft</a>
          <a href="{{ "mods/guilded-netherite" | absURL }}">Guilded Netherite</a>
          <a href="{{ "mods/kinesis" | absURL }}">Kinesis</a>
          <a href="{{ "mods/waystone" | absURL }}">Waystone</a>
        </div>

        <div class="column support">
          <p class="title">Support</p>
          <a href="{{ "help" | absURL }}">Help</a>
          <a href="{{ "contact" | absURL }}">Contact</a>
          <a href="{{ "wiki" | absURL }}">Wiki</a>
        </div>

        <div class="column more">
          <p class="title">More</p>
          <a href="{{ "about" | absURL }}">About</a>
          <a href="{{ "team" | absURL }}">Team</a>
          <a href="{{ "blog" | absURL }}">Blog</a>
          <a href="{{ "sitemap" | absURL }}">Sitemap</a>
        </div>

      </div>
    </div>
    <div class="bottom">
      <p>Made with <i class="fas fa-heart"></i>&nbsp;by the Cumulus team</p>
      <div class="socials">
        <a href="https://discord.gg/gHMN9mj"><i class="fab fa-discord"></i></a>
        <a href="https://github.com/CumulusMC"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </constrainer>
</footer>
